@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.borders {
  border: 1px solid red !important;
}

/* Apply Google Fonts via variables from layout.js */
html, body {
  font-family: var(--font-poppins), var(--font-preahvihear), sans-serif;
}

.prv {
  font-family: var(--font-preahvihear);
}




